{% extends "layout.html" %}
{% block title %}Competitions{% endblock %}
{% block page %}UWI Competitions Platform{% endblock %}
{{ super() }}
{% block content %}


<div class="flex flex-row px-8 py-6 bg-[#003554] text-[#C5D7E1]">
    {% if session['user_type'] == 'moderator' %}
    <div class="ml-auto mt-4">
        <button type="button" class="bg-[#003554] text-white rounded-lg px-4 py-2 border-2 border-[#90b1cf] hover:bg-black  hover:border-white">
            <a href="{{url_for('comp_views.create_comp_page')}}">Create Competition</a>
        </button>
    </div>
    {% endif %}
</div>

<div class="competitions-card  grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 px-8 py-6">
    {% for competition in competitions[::-1] %}
    <div class="card bg-[#C5D7E1] text-black rounded-lg shadow-lg p-4 hover:bg-black hover:text-white">
        <a class="block" href="{{url_for('comp_views.competition_details', id=competition.id)}}">
            <div class="text-center py-4 px-2 border-b-2 border-[#90b1cf] mb-4">
                <h3 class="text-xl font-semibold">{{competition.name}}</h3>
            </div>
            <div class="">
                <p><strong>Date: </strong>{{competition.date.strftime("%d %B %Y")}}</p>
                <p><strong>Location: </strong>{{competition.location}}</p>
                <p><strong>Level: </strong>{{competition.level}}</p>
                <p><strong>Max Score: </strong>{{competition.max_score}}</p>
                <p><strong>Moderators: </strong>
                    {% for moderator in competition.moderators %}
                        <a class="" href="{{url_for('index_views.moderator_profile', id=moderator.id)}}">
                            <span>{{moderator.username}}</span>
                        </a>
                    {% endfor %}
                </p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}