{% extends "layout.html" %}
{% block title %}Competition Details{% endblock %}
{% block page %}UWI Competitions Platform{% endblock %}

{{ super() }}

{% block content %}

<div class="flex items-center justify-between mb-6">
    <div class="flex-1">
        <h2 class="text-white text-center text-xl sm:text-2xl ml-6">Competition Details</h2>
    </div>
    <div>
        {% if session['user_type'] == 'moderator' and moderator in competition.moderators and not competition.confirm %}
        <div class="space-x-4 mt-6 flex justify-end mr-6">
            <a href="{{ url_for('comp_views.add_results_page', comp_id=competition.id) }}" class="bg-black text-white py-2 px-4 rounded-lg font-helvetica hover:bg-gray-800 transition-all">
                Add Results
            </a>
            <a href="{{ url_for('comp_views.confirm_results', comp_name=competition.name) }}" class="bg-black text-white py-2 px-4 rounded-lg font-helvetica hover:bg-gray-800 transition-all">
                Confirm Results
            </a>
        </div>
        {% endif %}
    </div>
</div>

<div class="container mx-auto px-4 sm:px-6 lg:px-8 font-serif">
    {% if not competition.confirm %}
        <div class="bg-black text-white rounded-lg py-2 mb-4">
            <h4 class="text-center">{{ competition.name }} Unofficial Results</h4>
        </div>
    {% else %}
        <div class=" text-white rounded-lg py-2 mb-4">
            <h4 class="text-center">{{ competition.name }} Official Results</h4>
        </div>
    {% endif %}

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for row in leaderboard %}
        <div class="bg-gray-900 text-white p-6 rounded-lg shadow-lg">
            <div class="flex flex-col items-center">
                <h5 class="text-2xl font-bold">Rank: {{ row['placement'] }}</h5>
                <h6 class="text-lg font-semibold mt-2">{{ row['team'] }}</h6>
                <div class="mt-4">
                    <span class="font-semibold">Members:</span>
                    <div class="flex flex-wrap justify-center mt-2">
                        {% for student in row['members'] %}
                        <a href="{{ url_for('index_views.student_profile_by_name', name=student) }}" class="text-white mx-2 my-1 text-sm hover:text-gray-400 transition-all">
                            {{ student }}
                        </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="mt-4">
                    <span class="font-semibold text-xl">Score: {{ row['score'] }}</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="p-5"></div>
{% endblock %}