{% extends "layout.html" %}
{% block title %}Competition Creation{% endblock %}
{% block page %}UWI Competitions Platform{% endblock %}

{{ super() }}

{% block content %}


<main class="container px-4 mt-16 sm:px-6 lg:px-8 py-6 bg-[#2c4f66] rounded-xl mx-auto max-w-3xl">
  <form name="addForm" method="POST" action="/createcompetition" class="bg-[#2c4f66] text-white p-6 rounded-xl">
    <div class="space-y-6">
      <span class="text-2xl mx-auto justify-center flex font-bold text-white">Create Competition</span>
      <div class="flex flex-col">
        <label for="name" class="text-white font-semibold">Competition Name</label>
        <input type="text" name="name" placeholder="Comp Name" class="bg-transparent border-b-2 border-[#C5D7E1] text-white p-2 mt-2 focus:outline-none focus:border-[#90b1cf]" required>
      </div>
      <div class="flex flex-col">
        <label for="date" class="text-white font-semibold">Competition Date</label>
        <input type="date" name="date" class="bg-transparent border-b-2 border-[#C5D7E1] text-white p-2 mt-2 focus:outline-none focus:border-[#90b1cf]" required>
      </div>
      <div class="flex flex-col">
        <label for="location" class="text-white font-semibold">Competition Location</label>
        <input type="text" name="location" placeholder="Comp Location" class="bg-transparent border-b-2 border-[#C5D7E1] text-white p-2 mt-2 focus:outline-none focus:border-[#90b1cf]" required>
      </div>
      <div class="flex flex-col">
        <label for="level" class="text-white font-semibold">Competition Level</label>
        <input type="number" name="level" placeholder="Comp Level" min="1" max="5" class="bg-transparent border-b-2 border-[#C5D7E1] text-white p-2 mt-2 focus:outline-none focus:border-[#90b1cf]">
      </div>
      <div class="flex flex-col">
        <label for="max_score" class="text-white font-semibold">Competition Max Value</label>
        <input type="text" name="max_score" placeholder="Max Value" class="bg-transparent border-b-2 border-[#C5D7E1] text-white p-2 mt-2 focus:outline-none focus:border-[#90b1cf]" required>
      </div>
    </div>
    <div class="mt-6">
      <input type="submit" class="bg-black rounded-xl text-white py-2 px-6 hover:bg-[#90b1cf] cursor-pointer transition-all" value="Create Competition">
    </div>
  </form>
</main>

{% endblock %}