<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body class="">
    <div class="nav-large items-center py-6 bg-[#051923] text-white flex-row">
      <div class="links lg:px-[8vw]">
        <div class="hidden md:flex justify-between">
          <div class="flex font-medium items-center space-x-16">
            <a href="/" class="text-4xl font-bold">UWI Competitions Platform</a>
            <a href="/leaderboard" class="p-2 rounded-md">Leaderboard</a>
            <a href="/competitions" class="p-2 rounded-md">Competitions</a>
          </div>
          <div class="flex space-x-6">
            {% if user.is_authenticated %}
            <a href="/profile">
              <img
                src="{{url_for('static', filename='defaultProfilePicture.png')}}"
                alt=""
                class="h-[64px] w-[64px] align-middle rounded-full"
              />
            </a>
            {% else %}
            <div><a href="/signup">Sign Up</a></div>
            <div><a href="/login">Log In</a></div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    {% block content %}{% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{url_for('static', filename='main.js')}}"></script>
  </body>
</html>
