<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body class="bg-[#003554] font-roboto">

    <!-- Navbar -->
    <div class="bg-[#051923] text-white py-4 px-6">
      <div class="max-w-screen-xl mx-auto flex justify-between items-center">
        <!-- Logo and Links -->
        <div class="flex items-center space-x-6">
          <a href="/" class="text-3xl font-bold">UWI Competitions Platform</a>
          <div class="hidden md:flex space-x-6">
            <a href="/leaderboard" class="hover:bg-[#034c5f] p-2 rounded-md">Leaderboard</a>
            <a href="/competitions" class="hover:bg-[#034c5f] p-2 rounded-md">Competitions</a>
          </div>
        </div>

        <!-- Profile and Auth Links -->
        <div class="flex items-center space-x-4">
          {% if user.is_authenticated %}
            <!-- Profile Dropdown -->
            <div class="relative group">
              <img
                src="{{url_for('static', filename='defaultProfilePicture.png')}}"
                alt="Profile Picture"
                class="h-12 w-12 rounded-full cursor-pointer"
              />
              <div class="absolute right-0 hidden bg-white text-black text-sm rounded-lg shadow-md group-hover:block">
                <a href="/profile" class="block px-4 py-2">Profile</a>
                <a href="/logout" class="block px-4 py-2">Sign Out</a>
              </div>
            </div>
          {% else %}
            <a href="/signup" class="text-lg">Sign Up</a>
            <a href="/login" class="text-lg">Log In</a>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="bg-[#003554] min-h-screen">
      {% block content %}{% endblock %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </body>
</html>